<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 align="center">Мой блог</h1>
<table align="center">
    <tr>
        <td>
            <a href="/">Главная</a>
        </td>
          <td>
            <a href="/reg">Регистрация</a>
        </td>
          <td>
            <a href="/auth">Авторизация</a>
        </td>
        <td>
            <a href="/contacts">Контакты</a>
        </td>
    </tr>
</table>
{% block content %} {% endblock content %}
<p align="center">Все права защищены 2024</p>
</body>
</html>
